  *{
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  color: rgb(114, 37, 37);
  background-color: rgb(45, 44, 68);
}

.link{
  text-decoration: none;
  font-size: large;
  font-weight: 40;
  margin-left: 5px;
  padding: 10px;
  color: rgb(241, 241, 239);
}
.tp{
  display: flex;
  justify-content: center;
}
.App-header {
  background-color: #cbcfd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(29, 26, 26);
}